{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Health and Wellbeing Benefits</h2>
                <hr>
            </div>
        </div>
        <!-- content for section from https://ledgebay.com/benefits-of-paint-by-numbers/ -->
        <div class="row">
            <div class="col">
                <ol>
                    <li>
                        <strong>Eases Stress and Anxiety</strong>
                    </li>
                    <p>
                        Any art buff will be able to tell you how they get lost in the moment whenever they’re creating
                        something or practicing their skills. What about for us art lovers who aren’t quite skilled yet? 
                        Studies have shown that 45 minutes of creative activity, like painting, can significantly reduce stress. 
                        Even better, because you’re following the paint by numbers process, you take away that added pressure
                        of not being able to create something good because you have a helping hand.
                    </p>
                    <li>
                        <strong>A Fun Way to Pass the Time</strong>
                    </li>
                    <p>
                        We all come across those drawn out periods of time when we’re bored out of our minds. Whether
                        you’re on your own or trying to entertain the kids on a rainy day, coming up with a satisfying activity 
                        is hard to do. Paint by numbers is the perfect alternative to watching TV or spending hours staring at a 
                        screen and you won’t feel guilty even if you spend hours doing it. Better still, it’s something you can do
                        as a group so the whole family can be working on their own masterpieces while you’re still spending time together.
                    </p>
                    <li>
                        <strong>An Appreciation of Other Art Styles</strong>
                    </li>
                    <p>
                        Even for professional artists or those who are developing their skills, it’s easy enough to get
                        stuck in a rut. We might find ourselves creating the same shapes or the same color palettes and 
                        find it hard to try something new. Paint by numbers is available with designs for all types and it
                        lets you create works you might never have otherwise. This can be especially helpful to pull you
                        out of a rut and expand your capabilities as an artist.
                    </p>
                    <li>
                        <strong>Helps With Art Studies and Practice</strong>
                    </li>
                    <p>
                        Being an art student isn’t as fun as it sounds. You might find yourself doing more reading and
                        practical studies than you thought. For many, especially the visually minded who follow their passions, 
                        having something to work with is more conducive to learning. You can try various paint 
                        by numbers made by the artists you’re studying to give new appreciation for their work.
                    </p>
                    <li>
                        <strong>Teaches Tolerance and Patience</strong>
                    </li>
                    <p>
                        In this day and age, it feels like everything we do is a mad rush. We’re always trying to get
                        somewhere in a hurry or work through a list of jobs as fast as we can. If you feel you need to 
                        slow down and learn some patience, paint by numbers is the way. This is a slow and methodical
                        process that requires you to think about what you’re doing and take your time. It’s perfect for
                        slowing down the mind but showing you what a bit of patience and tolerance can result in.
                    </p>
                    <li>
                        <strong>Makes Art Accessible to Everyone</strong>
                    </li>
                    <p>
                        There are many people in this world who love art, but feel they’d never be able to create their
                        own. Rather than try, they give up and resign themselves to the fact they’ll only ever be an art adorer. 
                        Paint by numbers has the benefit of making art accessible to everyone, young and old, skilled and beginner. 
                        It’s the perfect way to get everyone involved with the wonderful process of creating art.
                    </p>
                    <li>
                        <strong>Improves Cognitive Function and Boosts Memory</strong>
                    </li>
                    <p>
                        We’ve heard of training methods aimed at boosting memory, improving cognitive function, did you
                        know painting was one of them? Studies have found that taking time to learn an art or sustained 
                        practice in creative activities helped improve brain’s function. Paint by numbers is an easy way to
                        make your brain work better and give your memory a boost. It’s also more fun than spending hours
                        on brain activities that feel more like a chore.
                    </p>
                    <li>
                        <strong>Benefits for Art Pros and Students to Absolute Beginners</strong>
                    </li>
                    <p>
                        Paint by numbers has so many wonderful benefits to offer the world, and not just for absolute
                        beginners either. Whether you’re an art student looking to learn more about artists, or just want 
                        to relax on the weekends. This painting process allows so many people to try their hand at
                        painting and achieve things they never thought possible. Seeing the final product that you’ve
                        created can be benefit enough It’s an added bonus to see there are even more advantages to be had.
                    </p>
                    <li>
                        <strong>Resources – Benefits of Paint by Numbers</strong>
                    </li>
                        <ul>
                            <li>
                                <a class="text-blue" href="https://www.huffingtonpost.co.uk/entry/study-says-making-art-reduces-stress_us_576183ece4b09c926cfdccac?ri18n=true" target="_blank">
                                    Study Says Making Art Reduces Stress
                                </a>
                            </li>
                            <li>
                                <a class="text-blue" href="https://www.dana.org/article/how-arts-training-improves-attention-and-cognition/" target="_blank">
                                    How Arts Training Improves Attention and Cognition
                                </a>
                            </li>
                        </ul>
                </ol>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <img class="mx-auto d-block" src="https://passion-4-painting.s3.eu-west-2.amazonaws.com/media/logo-m.png">
            </div>
        </div>
    </div>
{% endblock %}